* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #333;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 16px;
    gap: 16px;
}

ul a {
    text-decoration: none;
    color: black;
}

h2 {
    text-align: center;
    background-color: #749D1B;
    color: #FFF;
    padding: 8px 16px;
}


/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #FBFBFB;
}

/* Contents */  
.contents {
    background-color: transparent;
    font-family: "Roboto", sans-serif;
}

/* Introduction */  
#introduction div{
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.description {
    min-width: 50%;
}

.img-description {
    max-width: 400px;
}

/* Products */  
#products div{
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product a {
    width: 300px;
    text-align: center;
    text-decoration: none;
}

.product a:hover {
    opacity: 0.7;
}

.product-img {
    display: block;
    max-width: 256px;
    margin: 10px auto;
}

.product button {
    border-radius: 25px;
    width: 200px;
    padding: 8px 16px;
    background-color: #749D1B;
    border-color:#849c50;
    color: #FFF;
}

.product button:hover {
    cursor: pointer;
}

/* Review */
#review div {
    background-color: #E5E7EB;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 22px;
    padding: 16px;
}

#review p {
    width: 65%;
}

.author {
    text-align: right;
    font-weight: bold;
}

/* Footer */
.footer {
    background-color: #353A42;
}

.footer ul {
    justify-content: space-around;
}

.footer a {
    color: #FFF;
}